.section__hobby {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(253, 253, 160);
}

.header--bonsai {
    margin: auto;
}

.header--guitar {
    margin: auto;
}

.img--valentineHeart {
    display: none;
    position: absolute;
    margin: 10px;
    right: 0;

}

.tableBonsai {
    width: 100px;
    margin: 15px;
    margin-bottom: 50px;
}

.tableBonsai__caption {
    margin: 2px 0;
    padding: 8px;
    background-color: rgb(229, 246, 129);
}

.tableBonsai__cell {
    padding: 8px;
    text-align: center;
    background-color: rgb(194, 228, 99);
}

.tableBonsai__cell--header {
    background-color: rgb(163, 196, 81);
}

.header--hobby {
    margin: auto;
}